*, *::before , *::after{
    box-sizing: border-box;
}

body{
    
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*-------------- HEADER --------------*/

.header{
    
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    font-size: 8pt;
    letter-spacing: .4em;
    /*background: black;*/
}

.visita a{
   font-weight: 800;
   color: black;
   text-decoration: none;
   transition: color .5s;
}

.visita a:hover{
    color: #b3b3b3;
 }


.logo img{
    width: 50px;
}


/*-------------- MAIN --------------*/

.prueba-imagen {
    width: 600px;
    height: 600px;
    background: url(./img/banner-img.png) no-repeat;
    background-size: 100%;
    animation: background 8s infinite;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
}



@keyframes background{
    25%{
        background: url(./img/banner-img4.png) no-repeat;
        background-size: 100%;
        

    }

    50%{
        background: url(./img/banner-img2.png) no-repeat;
        background-size: 100%;
    }

    75%{
        background: url(./img/banner-img3.png) no-repeat;
        background-size: 100%;
    }
}



.cuerpo{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    /*background: wheat;*/
   
    
}

.main-img{
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
    

}
.main-img img{
    width: 600px;
    margin-left: 0;
    
}

.main-info{
    
    width: 400px;
    height: 500px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: -50px;
    padding-left: 50px;
    
    
}

.main-info :nth-child(1){
    font-size: 18pt;
    
    
   
}

.main-info :nth-child(2){
    font-size: 10pt;
    color: darkgrey;
    cursor: default;
    margin-top: 0;
    
}

.boton{
    width: 100px;
    height: 30px;
    color: white;
    background: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7pt;
    letter-spacing: .2em;
    margin-top: 10px;
    transition: background  .3s;
    
    
}

.boton:hover{
   background: hsl(39, 100%, 65%);
   color: black;
}





/*-------------- FOOTER --------------*/

.producto{
    width: 230px;
    height: 300px;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0;

}

.producto img{
    width: 230px;
    
}

.productos{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 150px;
   
    width: 100%;
    height: 500px;
}

.boton2{
    width: 100px;
    height: 30px;
    color: black;
    border: 1px solid black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6pt;
    letter-spacing: .2em;
    margin-top: 10px;
    transition: background .3s;
}

.boton2:hover{
   background: black;
   color: white;
}



@media (max-width: 600px){

    *, *::before , *::after{
        box-sizing: border-box;
    }
    
    body{
        
        padding: 0;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .header{
        font-size: 6pt;
    }

    .main-info{
        width: 500px;
        height: 230px;
        
        
        padding: 0;
        margin-right: -20px;
        padding-left: 20px;
    }

    .main-info :nth-child(1){
        font-size: 13pt;
        
        
       
    }
    
    .main-info :nth-child(2){
        font-size: 7pt;
        color: darkgrey;
        cursor: default;
        margin-top: 0;
        
    }

    .boton{
        width: 80px;
        height: 20px;
        font-size: 5pt;
        
        
    }
    
    .boton:hover{
       background: hsl(39, 100%, 65%);
       color: black;
    }
    

    .cuerpo{
        width: 500px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        padding: 10px;
        
    }

    .prueba-imagen {
        margin-top: 40px;
        
        height: 280px;
        background: url(./img/banner-img.png) no-repeat;
        background-size: 100%;
        animation: background 8s infinite;
        
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }
    
    @keyframes background{
        25%{
            background: url(./img/banner-img4.png) no-repeat;
            background-size: 100%;
            
    
        }
    
        50%{
            background: url(./img/banner-img2.png) no-repeat;
            background-size: 100%;
        }
    
        75%{
            background: url(./img/banner-img3.png) no-repeat;
            background-size: 100%;
        }
    }


    .producto{
        width: 200px;
        height: 240px;
        margin-top: -20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        margin: 0 0;
        
        
    
    }

    
    .producto img{
        width: 200px;
        
    }

    


    .productos{
        margin: 0 auto;
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 0 0;
       
        width: 400px;
        height: 500px;
        flex-wrap: wrap;
    }
    
    
    .boton2{
        width: 60px;
        height: 15px;
        color: black;
        border: 1px solid black;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4pt;
        letter-spacing: .2em;
        margin-top: 10px;
        transition: background .3s;
    }
    
    .boton2:hover{
       background: black;
       color: white;
    }
    
    

    

    
}